# coverage configuration file

[run]
#omit =
#    # remove site.py from coveralls reports
#    */lib/*

[paths]
source = /opt/hostedtoolcache/Python/3.10.13/x64/lib/python3.10/site-packages/PythonSed/

[report]
# omit =

include = /opt/hostedtoolcache/Python/3.10.13/x64/lib/python3.10/site-packages/PythonSed/sed.py

exclude_lines =
    not used