# compiled Python files
*.pyc
__pycache__

# pyenv files
.python-version

# generated test files
test-tmp-*
tests/script.good
tests/script.inp
tests/script.sed

# Metafiles for Eclipse
.project
.pydevproject
.settings/
