# Config file for automatic testing at travis-ci.org

language: python

matrix:
  include:
    - python: 2.7
      dist: trusty
      sudo: false
    - python: 3.5
      dist: trusty
      sudo: false
    - python: 3.6
      dist: trusty
      sudo: false
    - python: 3.7
      dist: xenial
      sudo: true


install:
  - pip install .
  - pip install coveralls

script:
  - if [[ $TRAVIS_PYTHON_VERSION -le '3.6' ]]; then coverage run tests/test-suite.py @all-tests.suites -x test-python-sed.exclude; fi
  - if [[ $TRAVIS_PYTHON_VERSION -ge '3.7' ]]; then coverage run tests/test-suite.py @all-tests.suites -x test-python-sed-3.7.exclude; fi

after_success:
  - coveralls
